.contact{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 800px;
    display:flex;
    flex-direction: row;
    position: relative;   
}
.contact-titre{
    font-size: 16px;    
    margin-top: 100px;
    margin-left: 25%;
}
.contact-form{    
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-top: 200px;
    margin-left: -8%;
}
.contact-form input, textarea{
    border: 1px solid rgb(129, 129, 129);
    margin: 15px;       
    padding: 10px 20px ;
}
.contact-form input {
    border-radius: 50px;    
}
.contact-form textarea{
    border-radius: 50px;     
}
.form-control::placeholder {
    font-size: 16px;  
    color: rgb(195, 122, 79); 
}