.footer{
    display:flex;
    flex-direction: row;
    height: 200px;
    background-color: rgb(41, 37, 37);
}
.footer-img{
    margin-left: 40%;
    margin-top: 50px;    
}
.footer-img img{
    width: 170%;
}