.shop{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 600px;
    display:flex;
    flex-direction: row;
}
.left{  
   
    margin-top: 200px;    
    min-width:50%;
}
.left h2{
    margin-left: 25%;
    margin-bottom: 50px;
    border-left: 8px solid rgb(209, 158, 107);
    padding-left: 20px;
}
.left p {
    font-size: 16px;
    max-width: 450px;
    text-align: left; 
    color: #333;
    margin-left: 25%;
}
.left .go {
    display:flex;
    margin-top: 100px;
    align-items: center;
    margin-left: 25%;
}
.left .go h3 {
    position: relative;
    border: 2px solid peru;
    width: 250px;
    text-align: center;
    padding: 10px;
}
.left .go hr{
     width: 150px;
     position: absolute;
     transform: translate(-15px, 1px);
     background: #000;
     border: 1px solid #000;
 } 
.right {
    min-width:50%;    
    margin-top: 200px;    
}
.right #chaises {
    box-shadow: rgb(209, 158, 107)  20px -20px;
    margin-left: 8%;
}